body > div.page_container {
  display: flex;
  flex-basis: calc(100% - 140px);

  @media (max-width: 1000px) {
    flex-basis: calc(100% - 70px);
  }

  > div {
    display: flex;
    flex-grow: 1;
  }

  main.page {
    flex-grow: 1;
  }
}
