<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Cap'Net Pressing | Contactez-nous</title>
  <link rel="stylesheet" href="/styles/main.css">
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body ng-app="capNetPressingApp">
  <nav>
    <div class="logo_container">
      <a href="/">
        <img class="logo"
             src="/images/layout/capnet_logo.svg"
             alt="Cap'Net logo"
             title="Cap'Net logo">
      </a>
    </div><!--
 --><a class="location nav_link"
       href="/location">
      Nous situer
    </a><!--
 --><a class="services nav_link"
       href="/services">
      Services
    </a><!--
 --><a class="contact nav_link active"
       href="/contact">
      Contact
    </a><!--
 --><a class="about nav_link"
       href="/about">
      À propos
    </a>
  </nav>

  <div contact
       class="page_container">
  </div>

  <script src="/vendor/angular.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/modules/locations/listing.js"></script>
  <script src="/scripts/modules/services/services.js"></script>
  <script src="/scripts/modules/contact/contact.js"></script>
  <script src="/scripts/modules/about/about.js"></script>
  <script src="/scripts/modules/legal/legal.js"></script>
  <script src="/scripts/services/data.js"></script>
</body>
</html>
