<!DOCTYPE html>
<html ng-app="capNetPressingApp"
      lang="fr">
<head>
  <title>Cap'Net Pressing</title>
  <link rel="stylesheet" href="/styles/main.css">
  <script src="http://localhost:35729/livereload.js"></script>
  <base href="/">
</head>
<body>
  <nav>
    <div class="logo_container">
      <a href="/">
        <img class="logo"
             src="/images/layout/capnet_logo.svg"
             alt="Cap'Net logo"
             title="Cap'Net logo">
      </a>
    </div><!--
 --><a class="location nav_link"
       href="/locations">
      Nous situer
    </a><!--
 --><a class="services nav_link"
       href="/services">
      Services
    </a><!--
 --><a class="contact nav_link"
       href="/contact">
      Contact
    </a><!--
 --><a class="about nav_link"
       href="/about">
      À propos
    </a>
  </nav>

  <div ui-view
       class="page_container">
  </div>

  <script src="/vendor/angular.js"></script>
  <script src="/vendor/angular-ui-router.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/modules/index/index.js"></script>
  <script src="/scripts/modules/locations/locations.js"></script>
  <script src="/scripts/modules/locations/listing.js"></script>
  <script src="/scripts/modules/services/services.js"></script>
  <script src="/scripts/modules/contact/contact.js"></script>
  <script src="/scripts/modules/about/about.js"></script>
  <script src="/scripts/modules/legal/legal.js"></script>
  <script src="/scripts/services/data.js"></script>
</body>
</html>
