<!DOCTYPE html>
<html>
<head>
  <title><%= seo_title %></title>
  <link rel='stylesheet' href='/styles/main.css' />
</head>
<body>
  <nav>
    <div class="logo_container">
      <a href="/">
        <img class="logo"
             src="/images/layout/capnet_logo.svg"
             alt="Cap'Net logo"
             title="Cap'Net logo">
      </a>
    </div><!--
 --><a class="location nav_link"
       href="/location">
      Nous situer
    </a><!--
 --><a class="services nav_link"
       href="/services">
      Services
    </a><!--
 --><a class="contact nav_link"
       href="/contact">
      Contact
    </a><!--
 --><a class="about nav_link"
       href="/about">
      À propos
    </a>
  </nav><!--

--><main class="index">
    <div class="title_container">
      <h1>Cap’Net Pressing</h1>
      <p>Depuis prêt de 50 ans, nous sommes au service des particuliers, des entreprises et des professionnels, de tous secteurs d'activité.</p>
      <button>
        Nous situer
      </button>
    </div>

    <footer>
      <a class="facebook"
         target="_blank"
         href="https://www.facebook.com/pages/Capnet/321949137997335">
        Facebook
      </a><!--
   --><a class="github"
         target="_blank"
         href="https://github.com/lanceplaine/capnet-pressing">
        GitHub
      </a><!--
   --><a class="legal"
         href="/legal">
        Mentions légales
      </a><!--
   --><p class="siret_number">
        Siret 343 186 482 00042
      </p>
    </footer>
  </main>
</body>
</html>
