<!DOCTYPE html>
<html ng-app="capNetPressingApp"
      lang="fr">
<head>
  <title ng-bind="meta.title">Cap'Net Pressing</title>
  <meta ng-if="meta.title"
        name="title"
        content="{{ meta.title }}">
  <meta ng-if="meta.desc"
        name="description"
        content="{{ meta.desc }}">
  <meta ng-if="meta.keywords"
        name="keywords"
        content="{{ meta.keywords }}">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="http://localhost:35729/livereload.js"></script>
  <base href="/">
</head>
<body>

  <div navigation
       class="nav_container">
  </div>

  <div ui-view="mainContainer"
       autoscroll="true"
       class="page_container">
  </div>

  <script src="/vendor/angular.js"></script>
  <script src="/vendor/angular-ui-router.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/modules/index/index.js"></script>
  <script src="/scripts/modules/locations/locations.js"></script>
  <script src="/scripts/modules/locations/listing.js"></script>
  <script src="/scripts/modules/services/services.js"></script>
  <script src="/scripts/modules/contact/contact.js"></script>
  <script src="/scripts/modules/about/about.js"></script>
  <script src="/scripts/modules/legal/legal.js"></script>
  <script src="/scripts/modules/thank_you/thank_you.js"></script>
  <script src="/scripts/modules/shared/navigation.js"></script>
  <script src="/scripts/services/data.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhiTPTNuXsIJ0ykxnaxbjyEDTzBUWLB-I">
  </script>
</body>
</html>
