<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Cap'Net Pressing | Mentions légales</title>
  <link rel="stylesheet" href="/styles/main.css">
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body ng-app="capNetPressingApp">
  <nav>
    <div class="logo_container">
      <a href="/">
        <img class="logo"
             src="/images/layout/capnet_logo.svg"
             alt="Cap'Net logo"
             title="Cap'Net logo">
      </a>
    </div><!--
 --><a class="location nav_link"
       href="/location">
      Nous situer
    </a><!--
 --><a class="services nav_link"
       href="/services">
      Services
    </a><!--
 --><a class="contact nav_link"
       href="/contact">
      Contact
    </a><!--
 --><a class="about nav_link"
       href="/about">
      À propos
    </a>
  </nav><!--

--><main class="legal">

  </main>

  <script src="/vendor/angular.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers/main.js"></script>
  <script src="/scripts/controllers/location.js"></script>
  <script src="/scripts/modules/locations/location.js"></script>
  <script src="/scripts/services/data.js"></script>
</body>
</html>
