<!DOCTYPE html>
<html>
<head>
  <title>Cap'Net Pressing | Nous situer</title>
  <link rel="stylesheet" href="/styles/main.css">
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
  <nav>
    <div class="logo_container">
      <a href="/">
        <img class="logo"
             src="/images/layout/capnet_logo.svg"
             alt="Cap'Net logo"
             title="Cap'Net logo">
      </a>
    </div><!--
 --><a class="location nav_link active"
       href="/location">
      Nous situer
    </a><!--
 --><a class="services nav_link"
       href="/services">
      Services
    </a><!--
 --><a class="contact nav_link"
       href="/contact">
      Contact
    </a><!--
 --><a class="about nav_link"
       href="/about">
      À propos
    </a>
  </nav><!--

--><main class="location">
    <div class="page_content">
      <h1>Nous situer</h1>
      <div class="map_placeholder_mobile"></div>
      <ul class="locations">

        <!-- Location 1 #################################################### -->
        <li class="location">
          <div class="title_container">
            <h2>Lyon 2 - Ferrandière</h2>
            <div class="links_container">
              <a href="">
                Intinéraire
              </a><!--
           --><a href="">
                Tarifs
              </a>
            </div>
          </div>

          <div class="address">
            24 rue Ferrandiere<br>
            69002 Lyon<br>
            04 78 42 27 96
          </div><!--

       --><div class="hours">
            Horaires (non-stop) :<br>
            Du lundi au vendredi : 7h30 à 19h15<br>
            Samedi : de 8h00 à 18h00
          </div>
        </li>

        <!-- Location 2 #################################################### -->
        <li class="location">
          <div class="title_container">
            <h2>Lyon 2 - Charité</h2>
            <div class="links_container">
              <a href="">
                Intinéraire
              </a><!--
           --><a href="">
                Tarifs
              </a>
            </div>
          </div>

          <div class="address">
            41 Rue de la Charité<br>
            69002 Lyon<br>
            04 78 37 90 95
          </div><!--

       --><div class="hours">
            Horaires (non-stop) :<br>
            Du lundi au vendredi : 7h30 à 19h00<br>
            Samedi : de 8h00 à 18h00
          </div>
        </li>

        <!-- Location 3 #################################################### -->
        <li class="location">
          <div class="title_container">
            <h2>Lyon 2 - Bellecour</h2>
            <div class="links_container">
              <a href="">
                Intinéraire
              </a><!--
           --><a href="">
                Tarifs
              </a>
            </div>
          </div>

          <div class="address">
            54 rue Sala<br>
            69002 Lyon<br>
            04 72 56 04 13
          </div><!--

       --><div class="hours">
            Horaires :<br>
            Du lundi au vendredi : de 8H00-12h30 et 14h00-19h00<br>
            Samedi : de 8h00 à 14h00
          </div>
        </li>

        <!-- Location 4 #################################################### -->
        <li class="location">
          <div class="title_container">
            <h2>Lyon 3 - Montchat</h2>
            <div class="links_container">
              <a href="">
                Intinéraire
              </a><!--
           --><a href="">
                Tarifs
              </a>
            </div>
          </div>

          <div class="address">
            88 Cours du docteur Long<br>
            69003 Lyon<br>
            04 72 36 32 13
          </div><!--

       --><div class="hours">
            Horaires (non-stop) :<br>
            Du lundi au vendredi : de 7h30 à 19h00<br>
            Samedi : de 8h00 à 19h00
          </div>
        </li>

        <!-- Location 5 #################################################### -->
        <li class="location">
          <div class="title_container">
            <h2>Lyon 7 - Thibaudière</h2>
            <div class="links_container">
              <a href="">
                Intinéraire
              </a><!--
           --><a href="">
                Tarifs
              </a>
            </div>
          </div>

          <div class="address">
            50 Rue de la Thibaudière<br>
            69007 Lyon<br>
            04 72 71 03 29
          </div><!--

       --><div class="hours">
            Horaires (non-stop) :<br>
            Du lundi au vendredi : de 7h45 à 19h15<br>
            Samedi : de 8h00 à 19h00
          </div>
        </li>
      </ul>
    </div><!--
 --><div class="maps_container">
      <div id="js_google_map"
           class="map">
      </div>
    </div>
  </main>

  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById("js_google_map"), {
        center: { lat: 45.764043, lng: 4.835659 },
        zoom: 13
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhiTPTNuXsIJ0ykxnaxbjyEDTzBUWLB-I&callback=initMap"
          async defer>
  </script>
</body>
</html>
