<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Cap'Net Pressing | Services</title>
  <link rel="stylesheet" href="/styles/main.css">
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body ng-app="capNetPressingApp">
  <nav>
    <div class="logo_container">
      <a href="/">
        <img class="logo"
             src="/images/layout/capnet_logo.svg"
             alt="Cap'Net logo"
             title="Cap'Net logo">
      </a>
    </div><!--
 --><a class="location nav_link"
       href="/location">
      Nous situer
    </a><!--
 --><a class="services nav_link active"
       href="/services">
      Services
    </a><!--
 --><a class="contact nav_link"
       href="/contact">
      Contact
    </a><!--
 --><a class="about nav_link"
       href="/about">
      À propos
    </a>
  </nav><!--

--><main class="services">
    <!-- Service 1 ######################################################### -->
    <div class="service">
      <div class="title">
        <h1>Les services courants</h1>
      </div>
      <div class="description">
        <h2>Nettoyage à sec et repassage</h2>
        <p>Chemises, costumes, tailleurs, cravates, vêtements de ski, vêtements d’image, bleus de travail</p>

        <h2>Blanchisserie</h2>
        <p>Chemises, costumes, tailleurs, cravates, vêtements de ski, vêtements d’image, bleus de travail</p>

        <h2>Ameublements</h2>
        <p>Nettoyage et Repassage des Rideaux, Portieres, Dessus de lit, Canapés</p>
      </div>
    </div><!--

    Service 2 ##################################################################
 --><div class="service">
      <div class="title">
        <h1>Cuirs et Daims</h1>
      </div>
      <div class="description">
        <h2>Ateliers spécialisés</h2>

        <h2>Traitement artisanal et délicat</h2>

        <h2>Article nettoyé, re-pigmenté, nourri</h2>

        <h2>Réparation</h2>

        <h2>Contrôle qualité</h2>
      </div>
    </div><!--

    Service 3 ##################################################################
 --><div class="service">
      <div class="title">
        <h1>Services appliqués</h1>
      </div>
      <div class="description">
        <h2>Traitements de sinistres</h2>
        <p>Nettoyage de dégâts après les incendies, les inondations, devis pour les assurances.</p>

        <h2>Conciergeries d’entreprises</h2>
        <p>Des prestations réalisées "sur mesure".</p>

        <h2>Services aux professionnels</h2>
        <p>Ramassage, livraison et services spécifiques PRO à la carte.</p>
      </div>
    </div><!--

    Service 4 ##################################################################
 --><div class="service">
      <div class="title">
        <h1>Tapis</h1>
      </div>
      <div class="description">
        <h2>Ateliers spécialisés</h2>

        <h2>Dépoussiéré, nettoyé à la main, avec un shampoinage spécifique</h2>

        <h2>Traitements complémentaires (acariens, mites, taches,..)</h2>

        <h2>Réparations</h2>

        <h2>Contrôle qualité</h2>
      </div>
    </div><!--

    Service 5 ##################################################################
 --><div class="service">
      <div class="title">
        <h1>Retouche</h1>
      </div>
      <div class="description">
        <h2>Ateliers spécialisés</h2>

        <h2>Délai express</h2>

        <h2>Contrôle qualité</h2>
      </div>
    </div>
  </main>

  <script src="/vendor/angular.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/modules/locations/listing.js"></script>
  <script src="/scripts/services/data.js"></script>
</body>
</html>
