<!DOCTYPE html>
<html>
<head>
  <title><%= seo_title %></title>
  <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
  <nav>
    <div class="logo_container">
      <a href="/">
        <img class="logo"
             src="/images/layout/capnet_logo.svg"
             alt="Cap'Net logo"
             title="Cap'Net logo">
      </a>
    </div><!--
 --><a class="location nav_link"
       href="/location">
      Nous situer
    </a><!--
 --><a class="services nav_link active"
       href="/services">
      Services
    </a><!--
 --><a class="contact nav_link"
       href="/contact">
      Contact
    </a><!--
 --><a class="about nav_link"
       href="/about">
      À propos
    </a>
  </nav><!--

--><main class="services">

  </main>
</body>
</html>
