<main class="page contact">

  <div class="page_content">
    <h1>Contactez-nous</h1>
    <ul class="links">
      <li class="phone">
        <a href="tel:+33426555315">04 26 55 53 15</a>
      </li>
      <li class="email">
        <a href="mailto:contact.siege@capnet-pressing.com">contact.siege@capnet-pressing.com</a>
      </li>
      <li class="address">
        <a href="http://maps.google.com/?q=53 Rue De La Thibaudiere, 69007 - Lyon"
           target="_blank">
          53 Rue De La Thibaudiere, 69007 - Lyon
        </a>
      </li>
    </ul>

    <p class="notice">
      Pour toute demande de renseignements ou suggestions sur notre site, n'hésitez pas à nous contacter, nous vous répondrons dans les plus brefs délais.
    </p>

    <form name="contactForm"
          ng-submit="contactCtrl.sendEmail()">
      <div class="contact_information">
        <h2>Vos coordonnées</h2>

        <fieldset class="last_name">
          <label for="last_name">Nom</label>
          <input id="last_name"
                 ng-model="contactCtrl.getFormData().lastName"
                 type="text"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 required>
        </fieldset><!--

     --><fieldset class="first_name">
          <label for="first_name">Prénom</label>
          <input id="first_name"
                 ng-model="contactCtrl.getFormData().firstName"
                 type="text"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 required>
        </fieldset>

        <fieldset class="email">
          <label for="email">Email</label>
          <input id="email"
                 ng-model="contactCtrl.getFormData().email"
                 type="email"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 required>
        </fieldset>

        <fieldset class="phone">
          <label for="phone">Téléphone</label>
          <input id="phone"
                 type="phone"
                 ng-model="contactCtrl.getFormData().phone"
                 placeholder="Optionnel"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false">
        </fieldset>

        <fieldset class="address">
          <label for="address">Adresse</label>
          <textarea id="address"
                    class="address"
                    ng-model="contactCtrl.getFormData().address"
                    placeholder="Optionnel"
                    autocomplete="off"
                    autocorrect="off"
                    spellcheck="false"></textarea>
        </fieldset>
      </div><!--

   --><div class="message">
        <h2>Votre message</h2>

        <fieldset class="message">
          <label for="message">Message</label>
          <textarea id="message"
                    class="message"
                    ng-model="contactCtrl.getFormData().message"
                    required></textarea>
        </fieldset>
      </div>

      <div class="submit_container">
        <button type="submit"
                ng-disabled="contactForm.$invalid">
          Envoyer votre message
        </button>
      </div>
    </form>
  </div>

</main>
